p{
    font-family: 'Roboto';font-size: 30px;
    font-weight: 300;
    color:black;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: normal;
    word-spacing: 5px;
    letter-spacing:2px ;
}
img {
    display: block;
    margin: 0 auto;
  }
  
body {
 
        background-image: url('https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        
    }
   
    
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color:blueviolet;
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 20px;
}

.contact{
    color:aquamarine;
    height:40px ;
}
#resume{
    color:blueviolet;
    height:30px ;
}






    

